body {
  font-family: sans-serif;
  background: #fff;
  color: #000;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.content_container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-top: 180px;
}

.title {
  font-size: 4.5rem;
}
